.content-body{
    display: flex;
    flex-direction: column;
    font-family: 'DotGothic16', sans-serif;
}

#computer{
    width: 12vw;
    height: 12vw;
    /* opacity: .65; */
}

.apps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .apps{
        width: 100vw;
    }
}
#smiley{
    width: 30vw;
    height: 30vw;
}