<section class="content-body mx-auto align-items-center mt-4">

    <img id="keyboard" class="mt-4 mb-4" 
    src="assets/navs/keyboard.png" alt="mouse" title="mouse">

    <div class="break rounded-circle mb-4"></div>

    <p class="lead">keyboard (and mouse) is a collection of web applications i have co/created, explorations of 3d digital scapes, and works forged in processing and other applications. (<a href="https://www.dropbox.com/sh/l4zveqvy0ltd5ts/AABRxenjJsy-OHoPW4h3buuUa?dl=0">dropbox</a>)</p>

    <div class="break-holder mb-4">
        <div class="break rounded-circle"></div>
        <div class="break rounded-circle"></div>
    </div>

    <section class="web-apps w-100 mb-4">

        <h3 class="mb-4">web-apps</h3>

        <div class="apps w-100">

            <a href="https://youtu.be/Tek0YZRpLg8" target="_blank" class="app">
                <img 
                src="assets/keyboard-assets/bunease.svg" 
                alt="bunease-app-glimpse"
                title="bunease-app-glimpse"
                id="bunease"
                class="shadow"
                >
                <label for="bunease">bunease<br>(solo)</label>
            </a>

            <a href="https://youtu.be/MjzGi2SxHlc" target="_blank" class="app">
                <img 
                src="assets/keyboard-assets/jean-station.png" 
                alt="jean-station-app-glimpse"
                title="jean-station-app-glimpse"
                id="jean-station"
                class="shadow"
                >
                <label for="jean-station">jean station<br>(co-app)</label>
            </a>

            <a href="https://youtu.be/vE-NnDFHuIQ" target="_blank" class="app">
                <img 
                src="assets/keyboard-assets/recycled-reads.png" 
                alt="recycled-reads-app-glimpse"
                title="recycled-reads-app-glimpse"
                id="recycled-reads"
                class="shadow"
                >
                <label for="recycled-reads">recycled reads<br>(co-app)</label>
            </a>

        </div>

    </section>

    <div class="break-holder mb-4">
        <div class="break rounded-circle"></div>
        <div class="break rounded-circle"></div>
        <div class="break rounded-circle"></div>
    </div>

    <section class="rhino-files">

        <h3 class="mb-4">3 dimensional renders</h3>

        <a href="https://youtu.be/8ueEmWLi8X8" target="_blank" class="obj mb-4">
            parametric vase
            <img 
            src="assets/keyboard-assets/vase-frame.png" 
            alt="vase-render"
            title="vase-render"
            id="vase-render"
            >
        </a>

        <a href="https://www.dropbox.com/s/0sdf9r9srjjak13/egg-packaging.pdf?dl=0" target="_blank" class="obj mb-4">
            egg
            <img 
            src="assets/keyboard-assets/egg-present.png" 
            alt="egg-present"
            title="egg-present"
            id="egg-present"
            >
        </a>

        <a href="https://www.dropbox.com/sh/l4zveqvy0ltd5ts/AABRxenjJsy-OHoPW4h3buuUa?dl=0" target="_blank" class="obj mb-4">
            phone
            <img 
            src="assets/keyboard-assets/phone.png" 
            alt="phone"
            title="phone"
            id="phone"
            >
        </a>

    </section>

    <div class="break-holder mb-4">
        <div class="break rounded-circle"></div>
        <div class="break rounded-circle"></div>
    </div>

    <section class="twodworks mb-4">

        <h3 class="mb-4">2 dimensional graphics</h3>

        <p class="lead">processing</p>

        <img 
        src="assets/keyboard-assets/misslily.png" 
        alt="miss-lily-project"
        title="miss-lily-project"
        class="w-100 mb-2"
        >

        <div class="ezzys mb-2">
            <img 
            src="assets/keyboard-assets/ezzy-twilight.png" 
            alt="ezzy-with-clouds-digital-sunset"
            title="ezzy-with-clouds-digital-sunset"
            class="ezzy w-50 m-2"
            >
            
            <img 
            src="assets/keyboard-assets/ezzy-sunset.png" 
            alt="ezzy-with-clouds-digital-sunset"
            title="ezzy-with-clouds-digital-sunset"
            class="ezzy w-50 m-2"
            >
        </div>

        <img 
        src="assets/keyboard-assets/ezzy.png" 
        alt="ezzy-project"
        title="ezzy-project"
        class="w-100 mb-2"
        >

        <p class="lead">digital collaging</p>

        <div class="rogs mb-2">

            <img 
            src="assets/keyboard-assets/rog-and-robot.jpg" 
            alt="rog-and-robot"
            title="rog-and-robot"
            class="rog w-25"
            >

            <img 
            src="assets/keyboard-assets/rog-and-wings.jpg" 
            alt="rog-and-wings"
            title="rog-and-wings"
            class="rog w-25"
            >

            <img 
            src="assets/keyboard-assets/rog-and-cat.jpg" 
            alt="rog-and-cat"
            title="rog-and-cat"
            class="rog w-25"
            >

        </div>

    </section>

    <div class="break rounded-circle mb-4"></div>

</section>