<section class="content-body mx-auto align-items-center mt-4">

    <img id="hands" class="mt-4 mb-4" 
    src="assets/navs/hands.png" alt="hands" title="hands">

    <div class="break rounded-circle mb-4"></div>

    <p class="lead text-center">based in realms of tactility, 'hands' represents objects born of explorative conglomeration (wip)</p>

    <p class="lead text-center">i consider myself to be a visual learner, and find that i am drawn to creation in a handsy way! i have loved (invariably so) to collect, hold, and reimagine <em>things</em> of many a nature, thus one might find my works to have a certain flavor, a sense of scrappiness to be observed. i appreciate mixed media for all that it is and can be, though different <em>things</em> strike different chords at different times.</p>

    <div class="break-holder mb-4">
        <div class="break rounded-circle"></div>
        <div class="break rounded-circle"></div>
    </div>

    <section class="apparel w-100 mb-4">

        <h3 class="mb-4">handmade apparel</h3>

        <img 
        src="assets/hands-assets/heart-tie.png" 
        alt="heart-tie-handsewn"
        title="heart-tie-handsewn"
        class="apparel-item mb-4"
        >

        <img 
        src="assets/hands-assets/tongue-tied.png" 
        alt="tongue-tied-handsewn"
        title="tongue-tied-handsewn"
        class="apparel-item mb-4"
        >

        <img 
        src="assets/hands-assets/string-shirt.png" 
        alt="rope-and-glue-shirt"
        title="rope-and-glue-shirt"
        class="apparel-item"
        >
            
    </section>

    <div class="break-holder mb-4">
        <div class="break rounded-circle"></div>
        <div class="break rounded-circle"></div>
        <div class="break rounded-circle"></div>
    </div>

    <section class="head w-100 mb-4">

        <h3 class="mb-4">a head</h3>

        <div class="row-pics w-100">

            <img 
            src="assets/hands-assets/head-front.png" 
            alt="3d-print-head-front"
            title="3d-print-head-front"
            class="w-50"
            >

            <img 
            src="assets/hands-assets/head-side.png" 
            alt="3d-print-head-side"
            title="3d-print-head-side"
            class="w-50"
            id="head-side"
            >

        </div>

    </section>

    <div class="break-holder mb-4">
        <div class="break rounded-circle"></div>
        <div class="break rounded-circle"></div>
    </div>

    <section class="mold w-100 mb-4">

        <h3 class="mb-4">chocolate mold</h3>

        <div class="row-pics">

            <img 
            src="assets/hands-assets/pills-candy.png" 
            alt="3d-print-head-side"
            title="3d-print-head-side"
            class="w-50"
            id="candy"
            >

            <img 
            src="assets/hands-assets/pills.png" 
            alt="3d-print-head-side"
            title="3d-print-head-side"
            class="w-50"
            >

        </div>

    </section>

    <div class="break rounded-circle mb-4"></div>

</section>