.content-body{
    display: flex;
    flex-direction: column;
    /* font-family: 'DotGothic16', sans-serif; */
}

#hands{
    width: 10vw;
    height: 12vw;
    opacity: .75;
}

.break-holder{
    display: flex;
    flex-direction: row;
}

.break{
    background-color: rgb(205, 216, 225);
    width: 2vw;
    height: 2vw;
    margin: 3px;
}

.apparel, .head, .mold, .portrait, .skateboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-pics{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:center;
}

#head-side{
    height: 50vw;
}

#candy{
    height: 35vw;
}

.apparel-item, .mixed-media{
    width: 50vw;
    height: auto;
}

@media only screen and (max-width: 600px) {

    #hands{
        width:20vw;
        height:22vw;
    }

    /* .apparel-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0 !important;
    } */

    .apparel-item, .mixed-media{
        /* margin-top: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 3vw; */

        width: 100vw;
        height: auto;
    }
}