.social{
    width: 6vw;
    height: 6vw;
    padding: 1vw;
}

.contact-info{
    background-color: rgba(128, 128, 128, 0.105);
    height: 10vw;
    align-items: center;
}

.contact-info a:hover{
    /* position: relative;
    top: -25px; */
    filter: invert(60%);
    -webkit-filter: invert(60%);
}

@media only screen and (max-width: 600px) {
    .contact-info{
        width: 65vw !important;
        height: 15vw;
    }
    .social{
        width: 8vw;
        height: 8vw;
    }
}