.social{
    width: 6vw;
    height: 6vw;
    padding: 1vw;
}

.contact-info{
    background-color: rgba(128, 128, 128, 0.105);
    height: 10vw;
    align-items: center;
}

.contact-info a:hover{
    /* position: relative;
    top: -25px; */
    filter: invert(60%);
    -webkit-filter: invert(60%);
}